/* Estilos para la página de login */

.login {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #dbdbdb;
}


/* Estilos para la clase de registro */

.registro {
    height: 100vh;
    background-color: #dbdbdb;
}
